<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >
<div class="w3-center"><br>
      
    <img src="/img/avatar.png" style="width:13%" class="w3-circle w3-margin-top">
  </div>
  <!---->
  <form action="/signin" method="POST" id="ingresar">
     <div class="w3-section">
      <label><b>Ci:</b></label>
      <input class="w3-input w3-border w3-margin-bottom" type="number" placeholder="Cedula de identidad"  name="username" >
      <label><b>Contraseña:</b></label>
      <input class="w3-input w3-border" type="password" placeholder="Ingrese Contraseña" name="password" >
      <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">INGRESAR</button>
     
    </div>
  </form>
</body>
</html>