<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <form action="/signup" method="POST" id="registros">
   <h2 class="w3-center">Registro</h2>
     
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" type="number" placeholder="Cedula de identidad " name="username">
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border"  type="text" placeholder="Nombres" name="nombre" >
        </div>
    </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" type="text" placeholder="Apellidos" name="apellidos">
        </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border" type="text" placeholder="Direccion Local" name="DireccionLocal">
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
          <div class="w3-rest">
            <input class="w3-input w3-border"  type="text" placeholder="Nombre del local" name="nombrelocal">
          </div>
    
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
        <div class="w3-rest">
          <input class="w3-input w3-border"  type="number" placeholder="Telefono Convencional" name="telf">
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" type="number" placeholder="Telefono Celular" name="cel">
              </div>

              <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                  <div class="w3-rest">
                    <input class="w3-input w3-border" type="password" placeholder="Crea Contraseña" name="password">
                  </div>
    </div>
    
    <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="submit">Guardar</button>
    
  </form>
</body>
</html>