<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<button id="boton"><a href="/Login"><img src="/img/flecha.png" id="imagen"></a></button>
<div id="inicio">
    <h1 id="Bienvenida"> Bienvenidos a Fintech</h1>
    <h2 id="Mensaje">!! Tener las todo en orden significa tener todo bajo control ¡¡</h2>
</div>
