<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/css/bienvenida.css" TYPE="text/css" MEDIA=screen>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">  
</head>
<body>
<img src="/img/inicio.jpg" width="100%" >
<div id="inicio">
    <h1 id="Bienvenida"> Bienvenidos </h1>
    <h2 id="Mensaje">!! Tener las cosas en orden significa tener todo bajo contro ¡¡</h2>
</div>
</body>
</html>