<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<div id="inicio">
    <h1 id="Bienvenida"> Bienvenidos a Fintech</h1>
    <h2 id="Mensaje">!! Tener las todo en orden significa tener todo bajo contro ¡¡</h2>
</div>
