body{
    background-image: url('/img/fondo_2.png');
}
#p{
    font-size: 30px;
    font-family: cursive;  
    color: purple;
position: absolute;
left: 550px;
}
#contenedor_1{
    position: absolute;
    top: 130px;
    left: 450px;
}
#lblcedula{
    font-size: 30px;
    font-family: cursive;     
    color: white;
}
 #lblnombre{
    font-size: 30px;
    font-family: cursive;     
    color: white;
 }
 #lbltelf{
    font-size: 30px;
    font-family: cursive;     
    color: white; 
 }
 #guardar_1{
width: 20px;
 }
 #guardar{
     width: 200%;
     position: absolute;
     left: 100px;
 }
 #cedula{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 10px;
    left: 170px;
 }
 #nombre{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 60px;
    left: 170px;  
 }
 #telefono{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 110px;
    left: 170px;  
 }
 #cliente{
    width: 35%; 
    position: relative;

 }