body{
    background-image: url('/img/fondo_2.png');
}
#f1{
    position: absolute;
    top: 170px;
    font-size: 25px;
    left: 450px;
}
#f2{
    position: absolute;
    top: 170px;
    font-size: 25px;
    left: 40px;
}
#guardar{
    width: 430%;
    font-size: 20px;
    position: absolute;
}
#cedula{
position: absolute;
right: -310px;
border-radius: 20px;
}
#nombre{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#telefono{
    position: absolute;
    right: -310px;
    border-radius: 20px; 
}

#NombreProveedor{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#Fecha{
    position: absolute;
    right: -310px;
    border-radius: 20px; 
}
#Direccion{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#Numero{
    position: absolute;
    right: -310px;
    border-radius: 20px; 
}

#codigo{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#guardar1{
    width: 200%;
    font-size: 20px;
    position: absolute;
    top: 380px;
    border-radius: 100px;
}
#guardar1:hover{
    color: yellow;
}

#NombreProducto{
    position: absolute;
    right: -310px;
    border-radius: 20px; 
}
#Tipo{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#Cantidad{
    position: absolute;
    right: -310px;
    border-radius: 20px; 
}

#precio{
    position: absolute;
    right: -310px;
    border-radius: 20px;  
}
#FechaCadusidad{
    position: absolute;
    right: -270px;
    border-radius: 20px;  
}
#categoria{
    position: absolute;
    right: -220px;
    border-radius: 20px;
    border-color: blue;
}
#descripcion{
    position: absolute;
    right: -310px;
    border-radius: 20px;
}
#imgguardar{
    width: 5%;
    position: absolute;
    left: 200px;
}
#formulario_1{
    width: 300px;
    position: absolute;
    top: -30px;
    left: -70px;
}
#pn{
    width: 300px;
    position: absolute;
    top: -100px;
    left: 70px;
    color: purple;
    font-family: cursive;
    font-size: 40px;
}
#imgregistrar{
    width: 300px;
    position: absolute;
    top: -80px;
    left: -400px;
}