body{
    background-image: url('/img/fondo_2.png');
}
#contenedor_1{
    position: absolute;
    top: 120px;
    left: 350px;
}
#lblcodigo{
    font-size: 30px;
    font-family: cursive; 
    color: white; 
}
#lblnproducto{
    font-size: 30px;
    font-family: cursive;  
    color: white;
}
#lblcantidad{
    font-size: 30px;
    font-family: cursive;  
    color: white;
}
#lblprecio{
    font-size: 30px;
    font-family: cursive;  
    color: white;
}
#lblcaducidad{
    font-size: 30px;
    font-family: cursive;     
    color: white;
}
#codigo{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 10px;
    left: 320px;
}
#NombreProducto{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 60px;
    left: 320px;
}
#Cantidad{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 120px;
    left: 320px;
}
#precio{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 170px;
    left: 320px;
}
#FechaCadusidad{
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 220px;
    left: 320px;
}
#guardar1{
    width: 400px;
border-radius: 20px;
position: absolute;
top: 300px;
left: 100px;
}
#guardar1:hover{
    color: yellow;
    border-color: yellow;
}
#guardar_2{
    width: 23px;
    position: absolute;
    left: 130px;
}
#p{
    font-size: 30px;
    font-family: cursive;  
    color: purple;
    position: absolute;
    left: 550px;
}
