#inicio{
    position: absolute;
    text-align: center; 
    top: 250px;
    left: 250px;
}

#imagen{
    width: 140px;
    height: auto;
}
#boton{
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    top: 360px;
    left: 570px;
}