body{
    background-image: url('/img/fondo_2.png');
}
#tarjeta{
padding: 3px 10px;
  border:white 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#tarjeta:hover{
    padding: 3px 10px;
      border:forestgreen 5px solid;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }       