#conetendor{
    position: absolute;
    top: 120px;
    left: 170px;
}

#logo{
    top: 80px;
}

#agregar{
    position: absolute;
    left: 400px;
}

#ver{
    position: absolute;
    left: 650px;
}

#NombreP{
    position: absolute;
    left: 300px;
}

#direccion{
    position: absolute;
    left: 300px;
}