#imegen{
    position: absolute;
    top: 200px;
    left: 100px;
}
#contenedor{
    position: absolute;
    top:10px;
    left: 80px;
    
}
#ingresar{
    color: #000000;
    position: absolute;
    top: 5px;
    left: 180px;
    text-decoration: none ;
}
#Usuario{
    position: absolute;
    top: 180px;
    left: 490px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    
}
#Nombre{
    width: 290px;
    position: absolute;
    top: 230px;
    left: 490px;
    border-radius: 15px;
}

#Nombre:hover{
    border-color: greenyellow;
}
#contraseña{
    position: absolute;
    top: 260px;
    left: 490px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #ffffff;
}
#Contraseña{
    width: 290px;
    position: absolute;
    top: 305px;
    left: 490px;
    border-radius: 15px;
}
#Contraseña:hover{
    border-color: greenyellow;
}

#botonIngresa{
    position: absolute;
    top: 350px;
    left: 570px;
    font-size: 30px;
    font-family: cursive;
    border-radius: 20px;   
}
#botonIngresa:hover{
    color:green;
}
#img{
    width: 480px;
    position: absolute;
    top: -100px;
}
