body{
    color: rgb(2, 0, 0);
    background-image: url(/img/fondo_T.jpeg);
    background-size:auto;
    font-family: fantasy;
    font-style: italic;
    font-weight: bolder;
    width: 100%;
    height: auto;
}
