#session{
    font-size: 25px;
    color: aliceblue;
}
#registro{
    font-size: 25px;
    color: aliceblue;
}
#n{
    font-size: 25px;
    color: aliceblue;
}
#fintech{
    color: aliceblue;
    position: absolute;
    left: 168px; 
}
#fintech1{
    color: aliceblue;
    position: absolute;
    left: 300px; 
}
#linkear{
    position: absolute;
    width: 56px;
    left: 5px;
}
#yavirac{
    position: absolute;
    width: 100px;
    left: 65px; 
}