body{
    background-image: url('..//img/fondo_2.png');
}
#avatar{
    position: absolute;
    left: 1000px;
    top: 60px;
    height: 200px;
    width: 200px;       
    border-radius: 170px;

}
#datosUsuario{
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 940px;
    top: 300px;
}
#txtcedula{
    position: absolute;
    top: -35px;
    left: 20px;
}
#txtemail{
    position: absolute;
    top: 10px;
    left: -40px;
}
#cedula{
    position: absolute;
    top: -35px;
    left: 80px;
}
#email{
    position: absolute;
    top: 10px;
    left: 35px;
}
#formulario{
    position: absolute;
    top: 160px;
    left: 300px;
    font-size: 28px;

}
#celular{
    position: absolute;
    left: 10px;
    border-radius: 20px;
}
#telefono{
    position: absolute;
    left: 550px;
    border-radius: 20px;
}
#numeros{
    position: absolute;
    top: 120px;
    left: -210px;
}
#numero{
    position: absolute;
    top: 170px;
    left: -210px;
}
#DatoNegocio{
    font-family: sans-serif;
    color: purple;
    position: absolute;
    top: 80px;
    left: 490px;
    font-size: 29px;
}
#Nombre{
    font-size: 35px;
    position: absolute;
    left: -200px;
    top: -20px;
}
#nombreNegocio{
    width: 500px;
    position: absolute;
    top: -30px;
    font-size: 50px;
    border-radius: 20px;
}
#guardar1{
    position: absolute;
    top: -70px;
    left: 680px;
    width:200px;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: black;
    background-color: rgb(100, 59, 175);
    border-bottom: darkblue;
    border-radius: 20px;
}
#contactos{
    font-family: sans-serif;
    color: purple;
    font-size: 29px;
    position: absolute;
    left: 250px;
    top: 70px;
}
#boton{
    position: absolute;
    top: 280px;
    left: 10px;
}