#avatar{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    position: absolute;
    left: 1100px;
    top: 130px;
}
#datosUsuario{
    position: absolute;
    left: 1100px;
    top: 290px;
}
#dato{
    font-size: 35px;
    font-style: italic;
    font-family: fantasy;
}
