#imegen{
    position: absolute;
    left: 600px;
    top: 150px;
}
#avatar{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}
#contenedor{
    position: absolute;
    top: 370px;
    left: 450px;
}
#datos{
    position: absolute;
    top: -60px;
}
#Usuario{
    font-size: 35px;
    font-style: italic;
    font-family: fantasy;
}
#Nombre{
    position: absolute;
    top: 10px;
    left: 200px;
    display: flex;
    width: 270px;
    height: auto;
}
#contraseña{
    font-size: 35px;
    font-style: italic;
    font-family: fantasy;
}
#Contraseña{
    position:absolute;
    top: 10px;
    left: 200px;
    display: flex;
    width: 270px;
    height: auto;
}
#guardar{
    max-width: 50px;
    display: block;
    margin: auto;
}
#boton{
    background-color: rgb(255, 240, 245);
    border-color: black;
    width: 380px;
    position: absolute;
    top: 70px;
    left: 80px;
}

@media(max-width: 1125px){
    #contenedor{
        position: absolute;
        left: 320px;
    }
    #imegen{
        position: absolute;
        left: 470px;
    }
}

@media(max-width: 1075px){
    #contenedor{
        position: absolute;
        left: 320px;
    }
    #imegen{
        position: absolute;
        left: 470px;
    }
    #sesion{
        position: absolute;
        left: 920px;
      
    }    
}
@media(max-width: 1050px){
    #contenedor{
        position: absolute;
        left: 300px;
    }
    #imegen{
        position: absolute;
        left: 450px;
    }
    #sesion{
        position: absolute;
        left: 900px;
      
    }    
}
@media(max-width: 1025px){
    #contenedor{
        position: absolute;
        left: 260px;
    }
    #imegen{
        position: absolute;
        left: 410px;
    }
    #sesion{
        position: absolute;
        left: 860px;
      
    }    
}
@media(max-width: 985px){
    #contenedor{
        position: absolute;
        left: 270px;
    }
    #imegen{
        position: absolute;
        left: 410px;
    }
    #sesion{
        position: absolute;
        left: 770px;
    }    
}
@media(max-width: 920px){
    #contenedor{
        position: absolute;
        left: 250px;
    }
    #imegen{
        position: absolute;
        left: 420px;
    }
    #sesion{
        position: absolute;
        left: 750px;
    }    
}
@media(max-width: 878px){
    #contenedor{
        position: absolute;
        left: 200px;
    }
    #imegen{
        position: absolute;
        left: 350px;
    }
    #sesion{
        position: absolute;
        left: 700px;
    }    
}
@media(max-width: 825px){
    #contenedor{
        position: absolute;
        left: 150px;
    }
    #imegen{
        position: absolute;
        left: 250px;
    }
    #sesion{
        position: absolute;
        left: 650px;
    }    
}
@media(max-width: 775px){
    #contenedor{
        position: absolute;
        left: 100px;
    }
    #imegen{
        position: absolute;
        left: 200px;
    }
    #sesion{
        position: absolute;
        left: 600px;
    }  
}
@media(max-width: 725px){
    #contenedor{
        position: absolute;
        left: 50px;
    }
    #imegen{
        position: absolute;
        left: 150px;
    }
    #sesion{
        position: absolute;
        left: 550px;
    }  
}
@media(max-width: 675px){
    #contenedor{
        position: absolute;
        left: 0px;
    }
    #imegen{
        position: absolute;
        left: 100px;
    }
    #sesion{
        position: absolute;
        left: 500px;
    }  
}
@media(max-width: 625px){
    #contenedor{
        position: absolute;
        left: 0px;
    }
    #imegen{
        position: absolute;
        left: 50px;
    }
    #sesion{
        position: absolute;
        left: 450px;
    }  
}
@media(max-width: 625px){
    #contenedor{
        position: absolute;
        left: 0px;
    }
    #imegen{
        position: absolute;
        left: 160px;
    }
    #sesion{
        position: absolute;
        left: 400px;
    }  
}
@media(max-width: 525px){
    #contenedor{
        position: absolute;
        left: 0px;
    }
    #imegen{
        position: absolute;
        left: 160px;
    }
    #sesion{
        position: absolute;
        left: 330px;
    }  
}

@media(max-width: 465px){
    #contenedor{
        position: absolute;
        left: 0px;
    }
    #imegen{
        position: absolute;
        left: 100px;
    }
    #sesion{
        position: absolute;
        left: 290px;
    }
    #boton{
        width: 300px;
    }
    #Nombre{
        width: 220px;
    }
    #Contraseña{
        width: 220px;
    }
}