#imegen{
    position: absolute;
    top: 200px;
    left: 100px;
}
#contenedor{
    position: absolute;
    top:35px;
    left: 70px;
   
}

#registros{
    color: #ffffff;
    position: absolute;
    left: 300px;    
    text-decoration: none ;
}
#registros:hover{
    background-color: darkgrey;
}
#Usuario{
    position: absolute;
    top: 70px;
    left: 410px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #f5fffe;
    
}
#Nombre{
    width: 290px;
    position: absolute;
    top: 110px;
    left: 410px;
    border-radius: 15px;
}
#Nombre:hover{
    border-color: greenyellow;
}
#correo{
    
    position: absolute;
    top: 140px;
    left: 410px;
    font-size: 30px;
    color: #fffafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#Correo{
    width: 290px;
    position: absolute;
    top: 180px;
    left: 410px;
    border-radius: 15px;
}
#Correo:hover{
    border-color: greenyellow;
}
#contraseña{
    position: absolute;
    top: 210px;
    left: 410px ;
    color: #fffefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

}
#Contraseña{
    width: 290px;
    position: absolute;
    top: 255px;
    left: 410px;
    border-radius: 15px;
}
#Contraseña:hover{
    border-color: greenyellow;
}
#botonGuardar{
    position: absolute;
    top: 305px;
    left: 485px;    
    font-size: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-family: monospace;
}
#botonGuardar:hover{
    background-color: lawngreen;
}
#guardar{
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-decoration: none ;
}
#img{
    width: 480px;
    position: absolute;
    top: -100px;
}
#rol{
position: absolute;
top: 10px;
left: -280px;
}
