<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="css/perfil.css" TYPE="text/css" MEDIA=screen>
    <LINK REL=StyleSheet HREF="css/login.css" TYPE="text/css" MEDIA=screen>
    <title>Document</title>
</head>

<body style="background:turquoise; ">
    <form id="perfil" action="/perfil">
            <img src="img/usuario1.jpg" id="avatar"></div><hr>
        <div id="nombreUsuario">
         <p>Hola {{user.username}}<br>
                 {{user.email}}
         </p>
         </div>          
    </form>
</body>
</html>