<style>
  body {
    background-image: url("/img/pag-principal.jpg");
  }
</style>
<img src="/img/logo-inicial.png" id="logo-inicial" style="width: 250px; position: absolute; left: 470px;">
<h2 style="font-style: oblique; position: absolute;top: 110px; left: 500px;">Listado de Tiendas</h2>
<div id="container">

  <button class="btn btn-outline-danger" id="perfil"><img src="/img/icon-perfil.png" style="width: 35px;"></button>
  <button class="btn btn-outline-success" id="carrito"><img src="/img/carrito.webp" style="width: 35px;"></button>
</div>
<br><br><br><br><br><br><br><br><br>
<!--card tienda-->
<form action="/tienda/lista">
  <div class="w3-container">
    <div class="w3-card-4 w3-blue" style="width:30%">
      {{#each lista}}
      <div class="w3-container w3-center">
        <h3 style="font-style: oblique;">Nombre Tienda  {{nombreNegocio}}</h3>
        <img src="/img/tienda.jpg" alt="Avatar" style="width:60%">
        <h6>Celular = {{celular}}</h6>
        <h6>telefono= {{telefono}} </h6>

        <div class="w3-section">
          <a class="w3-button w3-green" href="/producto/lista">Comprar Aqui </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <!--card tienda-->
</form>