<LINK REL=StyleSheet HREF="/css/pag-principal.css" TYPE="text/css" MEDIA=screen>
<div class="container p-2">
    <div class="row">
        {{#each lista}}
        <div>
            <div class="card text-center">
                <div class="card-body">
                        <h3>{{nombreNegocio}}</h3>
                        <p> Celular : {{celular}}</p>
                        <img src="/img/tienda.jpg" style="width: 200px;">
                        <p> Telefono :{{telefono}}</p>
                        <a class="btn btn-success" href="/producto/lista">compre aqui</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>