 <link rel="stylesheet" href="/css/pag-principal.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        background-image: url("/img/pag-principal.jpg");
    }
</style>

<body>
    <img src="/img/logo-inicial.png" id="logo-inicial" style="width: 390px; position: absolute; left: 470px; top:-60px ">
    <h1 style="font-style:italic;  position: absolute;top: 100px; left: 500px; color:white">Listado de Tiendas</h2>
    
<br><br><br><br>
<!--card tienda-->
<form action="/tienda/lista">

 
<div class="w3-container" style="border:red;">
  {{#each lista}}
    <div class="w3-card-4 w3-transparent" style="width:270px; border: white 8px inset; ">
  
      <div class="w3-container w3-center">
        <h3 style="font-style: oblique; color:yellow">{{nombreNegocio}}</h3>
        <img src="/img/tienda.jpg" alt="Avatar" style="width:60%">
        <h6 style="color: white;">Celular={{celular}}</h6>
        <h6 style="color: white;">Telefono={{telefono}}</h6>

        <div class="w3-section">
          <a class="w3-button w3-green" href="/producto/lista"> <img src="/img/carrito.webp" style="width: 20px;">    Comprar Aqui      </a>
        </div>
      </div>
  
    </div>
  </div>
  {{/each}}
 </form>
<!--card tienda-->

</body>

</html>