<div class="container p-4">
    <div class="row">
        {{#each lista}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{nombreNegocio}}
                        </h3>
                    <p class="m-2">{{celular}}</p>
                    <img src="/img/tienda.jpg" style="width: 200px;">
                    <p class="m-2">{{telefono}}</p>
                    <a class="btn btn-success" href="/producto/lista">
                        compre aqui
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>