
  <form action="/registro" method="POST">
    <div id="Nombre">
    <label>Nombre :</label>
    <input type="text" name="Nombre" id="nombre"><br>
    </div>
    <div id="Apellido">
    <label>Apellido :</label>
    <input type="text" name="Apellido" id="apellido"><br>
    </div>
    <div id="Cedula">
    <label>Cedula :</label>
    <input type="number" name="username" id="cedula"><br>
    </div>
    <div id="Contraseña">
    <label>Contraseña:</label>
    <input type="password" name="password" id="contrasena"><br>
    </div>
    <button type="submit" id="button" style="width: 150px;">Ingresar</button> 
    <button id="button2"  style="width: 150px;"><a href="/">Salir</a></button>
  </form>
