<link rel="stylesheet" href="/css/registro.css">
<div id="container">
  <img src="/img/regitrar.png" id="imagen">
  <h1 id="h1">Registrate</h1>
  <br>
  <form action="/registro" method="POST">
    <div id="Nombre">
      <label id="lblbombre">Nombre :</label>
      <input type="text" name="Nombres" id="nombre"><br>
    </div>
    <div id="Cedula">
      <label id="lblcedula">Cedula :</label>
      <input type="number" name="username" id="cedula"><br>
    </div>

    <div id="Contraseña">
      <label id="lblcontraseña">Contraseña:</label>
      <input type="password" name="password" id="contrasena"><br>
    </div>
    <button type="submit" id="button" style="width: 150px;">Ingresar</button> <button id="button2"
      style="width: 150px;"><a href="/">Salir</a></button>
    
      <select name="rol" id="rol">
        <option name="rol" value="cliente">cliente</option>
      </select>
  
  </form>
</div>