<LINK REL=StyleSheet HREF="css/navegacion.css" TYPE="text/css" MEDIA=screen>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="/img/logolinkear.jpeg" id="linkear" style="width:56px;position: absolute; left: 5px;">
    <img src="/img/yavirac.jpg" id="yavirac" style="width:95px;position: absolute; left: 65px;">
    <h1 id="fintech" style="color: aliceblue; position: absolute; left: 160px;">Fintech</h1>
    <a class="navbar-brand">
      <i class="fas fa-link" id="fintech1" style="color: aliceblue; position: absolute; left:300px;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
          Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/productos" >Todos los Productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/productos/add">Agrege un Producto</a>
          </div>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
          Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/clientes/add">Agregar un Cliente</a>
            <a class="dropdown-item" href="/clientes/list">Clientes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
          Proveedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/proveedor/add">Agregar un Proveedor</a>
            <a class="dropdown-item" href="/proveedor/list">Proveedor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
          ProductoEntrada
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/ProductoEntrada/add">Agregar un Producto de Entrada</a>
            <a class="dropdown-item" href="/ProductoEntrada/list">Productos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil" >Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" >Cierre la Secion</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin" id="session">Inicia de Secion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup" id="registro">Registrate</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>