
<img src="/img/logo-inicial.png" id="logo-inicial" style="width: 390px; position: absolute; left: 470px; top:-60px ">

<div id="container">
    <div id="categorias">
        <a class="btn btn-outline-light" id="Tiendas" href="/tienda/lista"> Tiendas</a>
        <a class="btn btn-outline-light" id="Consumibles" href="/productos/consumibles"> Consumibles</a>
        <a class="btn btn-outline-light" id="noConsumibles" href="/productos/noconsumibles"> No consumibles</a>
        <a class="btn btn-outline-light" id="Bebidas" href="/productos/bebidas"> Bebidas </a>
    </div>
</div>
<!--card--->
<form action="/productos/noconsumibles" method="POST" id="tienda">
    <div class="container p-4">
        <div class="row">
            {{#each NoConsumibles}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{NombreProducto}}
                        </h3>
                        <p class="m-2">{{Cantidad}}</p>
                        <img src="/img/tienda.jpg" style="width: 200px;">
                        <p class="m-2">{{precioVenta}}</p>
                        <a class="btn btn-success" href="/producto/lista">
                            compre aqui
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>
<!--card-->