<LINK REL=StyleSheet HREF="/css/proveedor/proveedoragregar.css" TYPE="text/css" MEDIA=screen>
<form action="/proveedor/agregar/{{user.id}}" method="POST" name="f1" id="f1">
    <p id="p">Nuevo Proveedor</p>
    <div id="contenedor_1">
        <div id="contenedor">
            <label id="lblnprovedor">Nombre Proveedor:</label>
            <input type="text" name="NombreProveedor" id="NombreProveedor">
        </div>
        <div id="contenedor">
            <label id="lbldireccion">Direccion :</label>
            <input type="text" name="Direccion" id="Direccion">
        </div>
        <div id="contenedor">
            <label id="lblnumero">Numero:</label>
            <input type="number" name="Numero" id="Numero">
        </div>
        <div id="contenedor">
            <label id="lblcodigo">Estado:</label>
            <input type="text" name="Estado" id="codigo">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
    </div>
</form>
<script>
    function inicio() {
        document.f1.codigo.value = 1
    };
    window.onload = inicio;
</script>