#Bienvenida{ 
    position: absolute;
    top: 190px;
    left: 480px;
    font-family: Lobster;
    font-size: 80px;
    color: aliceblue;
    text-align: center;
}
#Mensaje{
    position: absolute;
    top: 290px;
    font-family: Lobster;
    font-size: 58px;
    text-align: center;
    color: aliceblue;
}
