
#avatar{
    position: absolute;
    left: 1100px;
    top: 90px;
    height: 200px;
    width: 200px;       
    border-radius: 160px;
}
#datosUsuario{
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 1030px;
    top: 300px;
}
#formulario{
    position: absolute;
    top: 160px;
    left: 300px;
    font-size: 28px;
}
#celular{
    position: absolute;
    left: 10px;
    border-radius: 20px;
}
#telefono{
    position: absolute;
    left: 550px;
    border-radius: 20px;
}
#numeros{
    position: absolute;
    top: 180px;
}
#numero{
    position: absolute;
    top: 220px;
}
#DatoNegocio{
    position: absolute;
    top: 130px;
    left: 540px;
    font-size: 29px;
}
#Nombre{
    position: absolute;
    left: 10px;
    top: 40px;
}
#nombreNegocio{
    position: absolute;
    left: 280px;
    top: 30px;
    font-size: 50px;
    border-radius: 20px;
}
#guardar1{
    width:590%;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: black;
    background-color: rgb(100, 59, 175);
    border-bottom: darkblue;
    border-radius: 20px;
}
#contactos{
    position: absolute;
    left: 300px;
    top: 120px;
}
#boton{
    position: absolute;
    top: 280px;
    left: 10px;
}