.header{
    text-align: center;

}
#nav{
    background-color: rgb(72, 152, 155);
    font-size: 20px;
    font-family: Lobster;       
}
#avatar{
   
    padding:15px;
    height: 190px;
    width: 200px;       
    border-radius: 70%;

}
#detalle{
    position: absolute;
    top: 250px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
}
#inicio{
    color: #ffffff;
    position: relative;
    left: 746px;
    text-decoration: none ;
}
#inicio:hover{
    background: darkgrey;
    color: floralwhite;
}
#SalirSeccion{
    color: #ffffff;
    position: relative;
    left: 747px;
    text-decoration: none ;
}
#SalirSeccion:hover{
    background-color: rgb(255, 248, 248);
    background: darkgrey;
    color: floralwhite;
}
#perfil{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}