<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <Label>Nombre del producto</Label>
        <input type="text">
        <Label>Cantidad</Label>
        <input type="number">
        <button>+</button>
        <button>-</button>
        <Label>precio</Label>
        <input type="number">
        <Label>Total</Label>
        <input type="number">
        <button>X</button>        

    </table>
    
</body>
</html>