<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <form action="/principal">
            <div>
                <label>Nombre </label>  
                <input type="name" name="nombre">
            </div>         
            <div>
                <label>Ubicacion </label>  
                <input type="name" name="Ubicaion">
            </div>           <div>
                <label>Contactos </label> 
                <input type="number" name="Contactos">
            </div>
            <button type="submit" >Ver</button>
              

        </form>
    </table>
</body>
</html>