<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    
<div class="w3-container w3-purple">
 <!--  modal-->
<div class="w3-container">
  
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Vision</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-purple"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Vision</h2>
      </header>
      <div class="w3-container">
        <p style="color: black;">en un entorno laboral lo mas esencial es el inventario y llevar la contabilidad clara, 
          como un inicio tenemos la iniciativa de realizar la contabilidad y inventario de cada una 
          de las tiendas barriales  realizando las interfaces gráficas amigables con el usuario final
           cumpliendo a cabalidad cada uno de sus intereses en un inventario y contable verificando le 
           si existe rentabilidad o perdida de siguiente nivel tenemos como punto alcanzar a
            automatización de supermercados , empresas y artesanos don realizaremos sus inventarios 
            de manera automática hasta llegarnos a globalizar creando de manera automática un banco de 
            datos donde registraremos sus necesidades en productos y interceptarlos con sus proveedores
             o automatizando sus pedidos con algoritmos  y cálculos matemáticos </p>
    
      </div>
     
    </div>
  </div>
</div>
 <!---->



  </div>

  <!--nav-->
  <form action="/informacion">

    <img src="/img/presentacion_fondo.jpg" style="width:100%">
  <div class="w3-container w3-purple">
    <h5>LINKEAR VERION 2.0</h5>
  </div>


</form>
</body>
</html>