<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>No es la más inteligente de las especies la que sobrevive ni la más fuerte, sino la que sabe adaptarse al cambio.
    </p>
    <table>
        <form method="POST">
            <div >
                <label >Nombre</label>
                <input type="text" name="nombre">
            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="contaseña">
            </div>
                <button>Ingresar</button>
                <a >Registro</a>
        </form>
    </table>

</body>

</html>