<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/login">
        <div >
            <label >Nombre</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label>Cedula</label>
            <input type="number" name="cedula">
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" name="contaseña">
        </div>
            <button type="submit" >Ingresar</button>
            <a >Inicio de secciòn</a>
    </form>
</body>
</html>