<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <form action="/pg_empleado" action="GET">
            <div class="w3-bar w3-green" >
              <a href="/stock/cargar" class="w3-bar-item w3-button">Cargar Stock</a>
              <a href="/stock/editar" class="w3-bar-item w3-button">Editar Stock</a>
              <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Buscar</a>
                </div>
          </div>
        
    <img src="/img/presentacion_fondo.jpg" >
    

    <!--buscar-->

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-purple"> 
          <span onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
          <h2>Buscar en stock</h2>
        </header>
        <div class="w3-container">
          <input class="w3-input" type="text">
        <label>Codigo</label>
        <input class="w3-input" type="text">
        <label>Nombre de Producto</label>
        <br>
        <br>
          <button class="w3-button w3-block w3-teal" style="width:100%">Buscar</button>
        </div>
       
      </div>
    </div>
    <!---->
    <div class="w3-container w3-purple">
      <h5>LINKEAR VERION 2.0</h5>
    </div>
  </form>
</body>
</html>