<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button>Consumibles</button>
    <button>Bebibles</button>
    <button>Otros</button>
    <form action="/clientes/list"></form>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-left">
                        <table>
                            <tr>
                                <td>Nombre del Producto</td>
                                <td style="text-align:right;"></td>
                            </tr>
                            <tr>
                                <td>Precio</td>
                                <td style="text-align: right;"></td>
                            </tr>
                            <tr>
                                <td>Cantidad</td>
                                <td style="text-align: right;"></td>
                            </tr>
                        </table>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table>
            <Label>Nombre del producto</Label>
            <input type="text">
            <Label>Cantidad</Label>
            <input type="number">
            <Label>precio</Label>
            <input type="number">
            <label>TOTAL</label>
            <input type="number">
            <button>X</button>
            <div>
                <a>Ver mas</a>
            </div>

        </table>
    </div>
</body>


</html>