.header{
    text-align: center;

}
#nav{
    background-color: rgb(72, 152, 155);
    font-size: 20px;
    font-family: Lobster;       
}
#avatar{
    height: 200px;
    width: 200px;       
    border-radius: 160px;
}
#detalle{
    position: absolute;
    top: 250px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
}
#inicio{
    color: #ffffff;
    position: relative;
    left: 746px;
    text-decoration: none ;
}
#inicio:hover{
    background-color: darkgrey;
}
#SalirSeccion{
    color: #ffffff;
    position: relative;
    left: 747px;
    text-decoration: none ;
}
#SalirSeccion:hover{
    background-color: darkgrey;
}
