<link rel="stylesheet" href="/css/productoEntrada.css">
<div>
<form action="/ProductoEntrada/add" method="POST">   
    <p id="">Nuevo Producto</p>
    <div id="">
        <div id="">
            <label>Codigo</label>
            <input type="text" name="codigo" id="codigo">
        </div>
        <div id="">
            <label>Nombre del Producto</label>
            <input type="text" name="NombreProducto" id="NombreProducto">
        </div>
        <div id="">
            <label>Cantidad</label>
            <input type="number" name="Cantidad" id="Cantidad">
        </div>
        <div id="">
            <label>Categoria</label>
            <select name="categoria" id="categoria">
                <option name="categoria" value="Consumible">Consumible</option>
                <option name="categoria" value="No consumible">No consumible</option>
                <option name="categoria" value="Bebidas">Bebidas</option>
            </select>
        </div>
        <div id="">
            <label>Descripcion</label>
            <input type="text" name="Descripcion" id="descripcion">
        </div>
        <div id="">
            <label>Precio Original</label>
            <input type="text" name="precio" id="precio">
        </div>
        <div id="">
            <label>Precio Venta</label>
            <input type="text" name="precioVenta" id="precio">
        </div>
        <div id="">
            <label>Fecha Caducidad</label>
            <input type="date" name="FechaCadusidad" id="FechaCadusidad">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
</form>
</div>
<script src="/js/codigo.js"></script>