<link rel="stylesheet" href="/css/clientes/clientesAgregar.css">
<form action="/clientes/agregar/{{user.id}}" method="POST" id="f1">
<p id="p">Agregar Cliente</p>
    <div id="contenedor_1">
        <div id="contenedor">
            <label id="lblnprovedor">Nombres:</label>
            <input type="text" name="Nombres" id="Nombres">
        </div>
        <div id="contenedor">
            <label id="lbldireccion">Direccion :</label>
            <input type="text" name="Direccion" id="Direccion">
        </div>
        <div id="contenedor">
            <label id="lblnumero">Celular:</label>
            <input type="number" name="Celular" id="Numero">
        </div>
        <div id="contenedor">
            <label id="lblcodigo">Telefono:</label>
            <input type="text" name="telefono" id="telefono">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
    </div>
</form>