<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/car proyecto/proyecto/src/public/css/add.css" type="text/css" media="screen">
</head>

<body>
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/proveedor/add" method="POST" name="f1">
                    <div id="contenedor">
                        <label>NombreProveedor</label>
                        <input type="text" name="NombreProveedor" id="nombre">
                    </div>
                    <div id="contenedor">
                        <label>Fecha</label>
                        <input type="date" name="Fecha" id="fecha">
                    </div>
                    <div id="contenedor">
                        <label>Direccion</label>
                        <input type="text" name="Direccion">
                    </div>
                    <div id="contenedor">
                        <label>Numero</label>
                        <input type="number" name="Numero">
                    </div>
                    <div id="contenedor">
                        <label>Estado</label>
                        <input type="text" name="Estado" id="codigo">
                    </div>
                    <button class="btn btn-success" type="submit" id="guardar">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function inicio() {
        document.f1.codigo.value = 1
    };
    window.onload = inicio;
</script>

</html>