<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/clientes/edit/{{producto.id}}" method="POST">
                <div id="contenedor">
                    <label>Cedula</label>
                    <input type="text" name="nombre" id="codigo" value="{{producto.Cedula}}">
                </div>
                <div id="contenedor">
                    <label>Nombre</label>
                    <input type="text" name="cantidad" value="{{producto.Nombre}}">
                </div>
                <div id="contenedor">
                    <label>Telefono</label>
                    <input type="text" name="unidad" value="{{producto.Telefono}}">
                </div>
                <button class="btn btn-success" type="submit" id="guardar">Guardar</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>