#conetendor{
    position: absolute;
    top: 170px;
    left: 170px;
}

nav{
    width: 100%;
}

.row{
    gap: 20px;
    margin-right: 0px;
}

#logo{
    top: 80px;
}

#agregar{
    position: absolute;
    left: 400px;
}

#ver{
    position: absolute;
    left: 650px;
}

#NombreP{
    position: absolute;
    left: 300px;
}

#direccion{
    position: absolute;
    left: 300px;
}

#masProveedor{
    position: absolute;
    top: 90px;
    left: 1250px;
    background-color: transparent;
    border-color: transparent;
}

#mas{
    width: 50px;
}

#estado{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#NombreProveedor{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#Direccion{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#Numero{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#eliminar{
    width: 70px;
}

#botonX{
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    margin-top: -59px;
    margin-left: 312px;
}

#datosPerosnales{
    width: 100%;
    text-align: center;
}

#editar{
    width: 50px;
}

#BotonEditar{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    margin-top: 180px;
}

#agregarProducto{
    position: absolute;
    margin-top: 190px;
    margin-left: 130px;
}

#tarjeta{
    border: 1px solid;
    border-radius: 30px;
    height: 283px;
    width: 380px;
    row-gap: 20px;
}

#id{
    position: absolute;
}

#datos{ 
    position: absolute;
}