#f1{
    position: absolute;
    top: 50px;
    width: 100%;
}

nav{
    width: 100%;
    position: absolute;
    top: -38px;
}

#logo{
    top: 120px;
}

#p{
    position: absolute;
    top: 70px;
    left: 550px;
    font-size: 35px;
}

#lblnprovedor{
    position: absolute;
    top: 140px;
    left: 300px;
}

#NombreProveedor{
    position: absolute;
    top: 148px;
    left: 550px;
}

#lbldireccion{
    position: absolute;
    top: 195px;
    left: 400px;
}

#Direccion{
    position: absolute;
    top: 200px;
    left: 550px;
}


#lblnumero{
    position: absolute;
    top: 250px;
    left: 430px;
}

#Numero{
    position: absolute;
    top: 250px;
    left: 550px;
}

#lblcodigo{
    position: absolute;
    top: 300px;
    left: 450px;
}

#codigo{
    position: absolute;
    top: 300px;
    left: 550px;
}

#guardar1{
    position: absolute;
    top: 380px;
    left: 500px;
    width: 420px;
}
