<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//public/css/compras.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Carro de Compras</title>
</head>
<style>
    body {
        background-image: url("..//public/img/pag-principal.jpg");
    }
</style>
<body>
    <img src="..//public/img/logo-inicial.png" id="logo-inicial" style="width: 250px; position: absolute; left: 470px;">
    <h2 style="font-style: oblique; position: absolute;top: 110px; left: 500px;">Compras Realizadas</h2>
    <div id="container">

        <button class="btn btn-outline-danger" id="perfil"><img src="..//public/img/icon-perfil.png" style="width: 35px;"></button>
       
    </div>


<br><br><br>


<div class="container">
    <div class="row">
      <div class="col-8">
        <br><br><br><br><br>
        <h3>Lista de Compras</h3>
        <br>
        <!--table-->
        <table class="table table-hover table-dark">
            <thead >
              <tr >
                <th id="columna" >#</th>
                <th id="columna">Nombre Producto</th>
                <th id="columna">Precio Unitario</th>
                <th id="columna">Cantidad</th>
                <th id="columna">Valor Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th id="compras">1</th>
                <td id="compras">leche</td>
                <td id="compras">0.75</td>
                <td id="compras"> <input type="button"value="-"> 2     <input type="button"value="+"></td>
                <td id="compras">1.50</td>
              </tr>
              <tr>
                <th id="compras">2</th>
                <td id="compras">Procat</td>
                <td id="compras">1.50</td>
                <td id="compras"><input type="button"value="-">    2  <input type="button"value="+"></td>
                <td id="compras">3.00</td>
              </tr>
            </tbody>
          </table>
        <!--table-->

      </div>
      <div class="col">
        <br><br><br><br><br>
        <h3>A Facturar</h3>
        <br>
<!--valor a pagar-->
<table class="table table-bordered"  >
    <thead>
      <tr>
       
        <th id="columna"> Precio Total</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th id="compras">4.50</th>
     
      </tr>
     
    </tbody>
  </table>
<!--valor a pagar-->


      </div>
    </div>
  </div>
</body>

</html>