<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//public/css/registro.css">
    
    <title>Registro Cliente</title>
</head>
<style>
    body {
      background-image: url("..//public/img/fondo.jpg");
    }
  </style>
<body>

    <div id="container">
      <img src="..//public/img/regitrar.png" id="imagen">
        <h1>Registrate</h1>
<br>
        <form method="POST" action="/registro">
        
              <label >Nombre :</label>
              <input type="text" name="nombre" id="nombre"><br>
         <br>
    
              <label>Apellido :</label>
              <input type="text" name="apellido" id="apellido"><br>
              <br>
              <label>Cedula :</label>
              <input type="number" name="cedula" id="cedula"><br>
          <br>
              <label>Contraseña :</label>
              <input type="password" name="contaseña" id="contrasena"><br>
              <br>
              <button type="submit" id="button" style="width: 150px;">Ingresar</button>   <button id="button2" style="width: 150px;">Salir</button>
      </form>
    </div>
</body>
</html>