<LINK REL=StyleSheet HREF="/css/ingreso.css" TYPE="text/css" MEDIA=screen>
<div id="imegen">
  <img src="/img/avatar.png" id="avatar">
</div>
<form action="/signin" method="POST" id="ingresar">
    <div id="contenedor">
      <div id="datos">
      <label id="Usuario">Usuario:</label>
      <input type="text" id="Nombre" name="username">
      </div>
      <div>
        <label id="contraseña">Contraseña: </label>
        <input type="password" id="Contraseña" name="password">
      </div>
      <div>
        <button type="submit" id="boton"><img src="/img/flecha.png" id="flecha"></button>
      </div>
    </div>
</form>
