<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK REL=StyleSheet HREF="css/registro.css" TYPE="text/css" MEDIA=screen>
</head>

<<<<<<< HEAD
<body style="background-image: url('img/registro.jpg');">
  <form action="/signup" method="POST" id="registros">
    <div>
      <label id="Usuario">Usuario </label>
      <input type="text" id="Nombre" name="username">
    </div>
    <div>
      <label id="correo">Correo </label>
      <input type="email" id="Correo" name="email">
    </div>
    <div id="contenedor">
      <label>ROL</label>
      <select name="rol" id="rol">
        <option name="rol" value="tienda">tienda</option>
      </select>
    </div>
    <div>
      <label id="contraseña">Contraseña </label>
      <input type="password" id="Contraseña" name="password">
    </div>
    <div>
      <button type="submit" id="botonGuardar"><a id="guardar">Guardar</a></button>
=======
<body style="background-image: url('img/fondo_1.png');">
 <div id="imegen">
  <img src="/img/registro.png">
</div>
  <form action="/signup" method="POST" id="registros">
    <div id="contenedor">
      <div>
        <label id="Usuario">Usuario </label>
        <input type="text" id="Nombre" name="username">
      </div>
      <div>
        <label id="correo">Correo </label>
        <input type="email" id="Correo" name="email">

      </div>
      <div>
        <label id="contraseña">Contraseña </label>
        <input type="password" id="Contraseña" name="password">
      </div>
      <div>
        <button type="submit" id="botonGuardar"><a id="guardar">Guardar</a></button>
      </div>
>>>>>>> origin/Steven
    </div>
  </form>
</body>

</html>