<LINK REL=StyleSheet HREF="/css/registro.css" TYPE="text/css" MEDIA=screen>
<div id="imegen">
  <img src="/img/avatar.png" id="avatar">
</div>
<form action="/signup" method="POST" id="registros">
    <div id="usuario">
      <label id="Usuario">Usuario: </label>
      <input type="text" id="Nombre" name="username">
    </div>
    <div id="Contrase単as">
      <label id="contrase単a">Contrase単a: </label>
      <input type="password" id="Contrase単a" name="password">
    </div>
    <div>
      <button type="submit" id="boton"><img src="/img/guardar.png" id="guardar"></button>
    </div>
</form>