<link rel="stylesheet" href="/css/entradasSalidas/entradasSalidas.css">
<form action="/entradaSalida/agregar/{{user.id}}" method="get">
    <div id="Entradas">
        <label>Entradas y Salidas</label>
    </div>
    <div id="fecha">
        <label>Fecha:</label>
        <input type="text" value="" name="fecha" id="fechas" readonly>
    </div>
    <div id="CODIGO">
        <label>C.Documento</label>
        <input type="text" value="" name="codigoDocumento" id="codigoDocumento" readonly>
    </div>
    <div id="cliente">
        <label>Cliente</label>
        <input type="text" value="" name="Cliente" id="Cliente" readonly>
    </div>
</form>

<script src="/js/fecha.js"></script>