#img{
    width: 30px;
}
#boton{
  width: 100%; 
  font-size: 30px; 
}

#tabla{
    position: absolute;
    background-color: rgb(139, 126, 185);
    top: 70px;
    left: 70px;
    border-radius: 30px;
    text-align: center;
}

