#container{
    margin : 20px auto;
    background-color:transparent;
    height: 300px;
    width : 450px;
    box-shadow: 0px 5px 5px 0px;
}
#frase{
    font-size: 28px;
    font-style: oblique;
}
#button {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
   top: 370px;
   left: 100px;
   font-size: 25px;
  }
  
#button:hover {
    background-color: #008CBA;
    color: white;
  }
  #button2 {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
    top: 370px;
    left: 300px;
    font-size: 25px;
  }
  
#button2:hover {
    background-color: greenyellow;
    color: white;
  }

#cedula{
  font-size: 25px;
}
#contraseña{
  font-size: 25px;
}
  
#Cedula{
  border-radius: 20px;
}
#Contraseña{
  border-radius: 20px;
}