body{
  background-image: url("/img/fondo.jpg");
}
#container{
    margin : 20px auto;
    background-color:transparent;
    height: 300px;
    width : 450px;
    box-shadow:  3px 5px 5px 3px white;
}
#frase{
    font-size: 34px;
    font-style: oblique;
    color: white;
    position: absolute;
    top: 380px;
}
#button {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
   top: 370px;
   left: 100px;
   font-size: 25px;
  }
  
#button:hover {
    background-color: #008CBA;
    color: white;
  }
  #button2 {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
    top: 370px;
    left: 300px;
    font-size: 25px;
  }
  
#button2:hover {
    background-color: greenyellow;
    color: white;
  }
#hcedula{
  font-style: oblique;
  position: relative;
  left: 10px; 
  font-size: 25px; 
  color:white;
  }
  #hcontraseña{
    font-style: oblique; 
    position: relative;
    left: 10px; 
    font-size: 25px; 
    color:white;
  }
#Cedula{
  font-size: 25px;
  border-radius: 20px;
  width:400px;
  position: relative; 
  left: 10px;
}
#Contraseña{
  width:400px;
  font-size: 25px;
  border-radius: 20px;
  position: relative;
   left: 10px;
}

#Cedula:hover{
  box-shadow:  3px 5px 5px 3px white;
}
#Contraseña:hover{
  box-shadow:  3px 5px 5px 3px white;
}