body{
    color: rgb(2, 0, 0);
    background-color: white;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight:bolder;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: justify;
}
input{
    text-align: center;
}
button{
    cursor: pointer;
    border-radius: 20px;
    display: block;
    margin: auto;
}

@media(max-width: 840px){
    #contenidos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: initial;
        height: auto;
    }
}

@media(max-width: 600px){
    #contenidos{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
}