#perfil{
    position: absolute;
    top: 40px;
    left: 1200px;
}
#carrito{
    position: absolute;
    top: 40px;
    left: 1100px;   
}

#tienda{
    width: 150px;
}

#boton{
    position: absolute;
    top: 200px;
}