#boton{
    position:absolute;
    left: 1314px;
    top: 350px;
}
#img{
    height: 36px;
    width: auto;
}
#carrito{
background-color: black;
border-radius: 20px;
}
#carrito1{
    background-color: black;
    border-radius: 20px;
    }
#lista{
    position: absolute;
    left: 880px;
    top: 150px;
}
#tabla{
    border-color: black;
}
#nombres{
    background-color: white;
    word-spacing: 0.25em;
    font-size: 20px;
    text-align: center;
    width: 40%;
}
#Producto{
    background-color: white;
    word-spacing: 0.25em;
    font-size: 20px;
    text-align: center;
}
#precio{
    background-color: white;
    word-spacing: 0.25em;
    font-size: 20px;
    text-align: center;
}
#ver{
    background-color: rgb(165, 247, 238);
    border-color: wheat;
    border-radius: 20px;
}
#letras{
    color: rgb(5, 3, 41);
    font-size: 21px;
    font-family: fantasy;
    font-style:italic;
}
#cantidad{
    width: auto;
    height: auto;
    border-color: rgba(255, 255, 240, 0);
    text-align: center;
    background-color: rgba(255, 255, 240, 0);
}