#logo-inicial{
    width: 270px;
    position: absolute;
    top: 10px;
     left: 450px;
}
#container{
    margin : 20px auto;
    background-color:transparent;
    height: 100px;
    width : 1350px;
    box-shadow: 0px 5px 5px 0px;
    position: absolute;
    top: 40px;
    font-size: 50%;
}
#categorias{
    position: absolute;
    top: 30px;
    font-size: 20px;
    left: 20px;
}
#perfil{
    position: absolute;
    top: 40px;
    left: 1250px;
}
#carrito{
    position: absolute;
    top: 40px;
    left: 10px; 
}

#tienda{
    position: absolute;
    top: 180px;
    left: 20px;
}

#Tiendas{
    font-size: 25px;
}

#Consumibles{
    font-size: 25px;
}

#noConsumibles{
    font-size: 25px;
}

#Bebidas{
    font-size: 25px;
}

#NombreProducto{
    position: absolute;
    left: 65px;
}

#precio{
    position: absolute;
    top: 50px;
}

#cantidad{
    position: absolute;
    top: 90px;
}

#imgproducto{
    position: absolute;
    top: 165px;
}

#btncarrito{
    position: absolute;
    top: 260px;
}
