#container{
    margin : 20px auto;
    background-color:transparent;
    height: 340px;
    width : 450px;
    box-shadow: 0px 5px 5px 0px;
    border-radius: 5%;
    position: absolute;
    top: 180px;
    left: 450px;
}

#h1{
font-size: 40px;
font-style: oblique;
position: absolute;
left: 140px;
}

#imagen{
width: 140px;
position: absolute;
top: -30px;
left: 365px;
}

label{
    font-size: 20px;
    font-style: italic;
    position: absolute;
    left: 23px;
}

#Nombre{
    position: absolute;
    top: 80px;
    width: 250px;
}

#nombre{
    position: absolute;
    left: 170px;
    width: 250px;
    border-radius: 20px;
}

#Apellido{
    position: absolute;
    top: 120px;
    width: 250px;
}

#apellido{
    position: absolute;
    left: 170px;
    width: 250px;
    border-radius: 20px;
}

#Cedula{
    position: absolute;
    top: 160px;
    width: 250px;
}

#cedula{
    position: absolute;
    left: 170px;
    width: 250px;
    border-radius: 20px;
}

#Contraseña{
    position: absolute;
    top: 200px;
}

#contrasena{
    position: absolute;
    left: 170px;
    width: 250px;
    border-radius: 20px;
}   

#button {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
   top: 270px;
   left: 50px;
   font-size: 25px;
  }
  
#button:hover {
    background-color: green;
    color: white;
  }

#button2 {
    background-color: white; 
    color: black; 
    border-radius: 15%;
    position: absolute;
   top: 270px;
   left: 250px;
   font-size: 25px;
  }
  
#button2:hover {
    background-color: red;
    color: white;
  }