
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
   <h1 id="fintech" style="color: purple;"> FINTECH</h1>
    <a class="navbar-brand">
      <i class="fas fa-link" style="color: aliceblue; "></i> 
    </a>
    <p style="font-size: 23px; color:white" >Bienvenido <br> {{user.nombre}} </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}

<div  style=" position: absolute; left: -205px; top:-25px">
        <button class="btn btn-outline-danger" id="perfil"><img src="/img/icon-perfil.png" style="width: 35px; "></button>
     </div>
     
     <div style=" position: absolute; left: -190px; top:-25px">
        <button class="btn btn-outline-success " id="carrito"><img src="/img/carrito.webp" style="width: 35px;"></button>
    </div>
<!-- -->     
        <li class="nav-item">
          <a class="nav-link" href="/logout" id="n">Cierre la Seccion</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>