<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/css/cliente.css" TYPE="text/css" MEDIA=screen>
</head>

<body>
    <form action="/clientes/add" method="POST" id="f1">
        <div id="contenedor">
            <label>Cedula</label>
            <input type="text" name="cedula" id="cedula">
        </div>
        <div id="contenedor">
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div id="contenedor">
            <label>Telefono</label>
            <input type="number" name="telefono" id="telefono">
        </div>
        <button class="btn btn-success" type="submit" id="guardar">Guardar</button>
    </form>
</body>
</html>